<div class="notification-container">
  <%= image_tag ("logo.svg"), class: "icone" %>

  <% @offers.each do |o| %>
  <div class="notification-content">
    <%= cl_image_tag o.colocation.photos.first.key%>
    <p>Votre demande pour <%= o.colocation.title %> est <%= o.status %></p>
  </div>
  <% end %>
</div>
