// BUTTON NEXT/SIGN UP/CONTACT THEM
.btn-bottom {
  width: 100%;
  padding: 24px 0;
  background: $gradient;
  text-align: center;
  border: 2px solid $black;
  color: $black;
  position:fixed;
  bottom:0;
  left: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.btn-coloc {
  bottom: 105px;
  left: 0;
  color:$black;
}

.btn-landing {
  width: 75%;
  padding: 15px 0;
  background: $gradient !important;
  text-align: center;
  border: 2px solid $black;
  color: $black !important;
  font-size: 20px;
}

.btn-secondary {
  background-color: transparent;
  color: $white !important;
  opacity: 0.4;
  margin-top: 150px;
  font-size: 20px;
  &:hover {
    opacity: .8;
    transition:.3s;
    background-color:transparent;
  }
}

.btn-profil {
  width: 200px;
  padding: 24px 0;
  text-align: center;
  border: 2px solid $gradient;
  color: $gradient;
}

.btn-price {
  font-size: 11px;
  display: inline-block;
  text-align: center;
  height: 28px;
  display: flex;
  align-items: center;
  border: 2px solid transparent;
  //border-image-slice: 1;//
  //border-image-source: $gradient;//
  background-image: linear-gradient(black, black), radial-gradient(circle at top left, #B0F3F1,#FFCFDF);//
  border-radius: 50px;
  background-origin: border-box;
  background-clip: content-box, border-box;
}

.colocation-price {
  font-size: 13px;
  padding: 12px;
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.btn-container {
  margin-top: 50px;
  margin-bottom: 50px;
}

.add_photo {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
  z-index: -1;
  display:none;
}

.add_photo + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.add_photo + label {
	cursor: pointer; /* "hand" cursor */
}

.user_photo_label {
  z-index:999;
  width:50px;
  height:50px;
  background: $gradient;
  border-radius:50%;
  color:$black;
  display:flex;
  align-items: center;
  justify-content: center;
  font-size:24px;
  position: absolute;
  right: 32px;
  top: -40px;

  label {
    margin:0;
  }
}

.btn-notification {
  background: $gradient;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-decoration: none;
  font: Futura;
  font-size: 20px;
  }


.notification-decline {
  opacity: 0.5;
}



