// EMOJI CARD /PERSONALITY/COLOCATION GOALS
.emoji-card {
  border-color: $gradient;
  background-color: $black;
  width: 20px;
  height: 20px;
}

.coloc-card {
  background-color: $black;
  width: 100px;
  height: 100px;
  color:white;
}

// CSS CARDS COLOCATION //
.card-colocation {
  border: 3px solid $black;
  background-color: $black;
  color: $white;
  padding: 0;
  border-image-slice: 1;
  border-image-source: $gradient;
  margin-bottom: 20px;
  margin-top: 10px;
  text-align: center;
  .profil-pictures img {
    height: 300px;
  }
}

.tl-wrapper .search-form .form-control {
  margin:0;
}

.ap-icon-pin, .ap-icon-clear {
    display:none;
  }


.profil-pictures2{
  position:relative;
  display:inline-block;
}
.profil-pictures2:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  background: linear-gradient(to top, rgba(0,0,0,1) 0%,rgba(0, 0, 0, 0) 38%);
}

.colocation-content {
  padding: 20px;

}

.coloc-infos {
  display: flex;
  margin-bottom: 8px;
  align-items:center;
  justify-content: center;
  p{
    font-size: 16px;
    margin:0;
  }
  .desired_people {
    opacity: .6;
    margin-left:24px;
  }
}

.colocation-pictures {
  height: 220px;
}

#carouselExampleIndicators, .carousel-inner {
  height: 100%;
}

.pen img{
  width: 20px;
  position:absolute;
  bottom: 12px;
  right: 12px;
}
