// EMOJI CARD /PERSONALITY/COLOCATION GOALS
.emoji-card {
  border-color: $gradient;
  background-color: $black;
  width: 20px;
  height: 20px;
}

.coloc-card {
  border-color: $gradient;
  background-color: $black;
  background-image:;
  width: 75px;
  height:
}
