// Checkbox Coloc Goal
.checkbox_form {
  position: absolute;
  transform: scale(0);
}
.checkbox_form + label {
  display: block;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 4px;
  text-align: center;
  opacity: 0.6;
}
.checkbox_form:checked + label {
  color: aqua;
  border:3px solid rgba(255, 255, 255, 0.5);
  border-image: $gradient;
  border-image-slice: 1;
  opacity: 1;
}
.content_chekbox{
  display: flex;
  justify-content:space-around;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom:5px;
}
.icon {
  font-size: 42px;
}
.check_text {
  display: flex !important;
  flex-direction: column;
  width: 40%;
}
