.content_avatar {
  display: flex;
  flex-direction: column;
  padding: 20px 0;
}

.avatar_box{
  display: flex;
  align-items: center;
  padding: 4px;
  margin-top: 10px;
}

.name_avatar {
  margin: 0;
  text-align: justify;
  padding: 4px;
  font-size:18px;
  margin-left: 8px;
}

.users-personalities {
  font-size:24px;
  letter-spacing: 13px;
}
