.step {
  display: none;
}
.step-active {
  display: block;
}

.form-container {
  width:60%;
  margin:0 auto;
  text-align:center;
}

.form-inputs {
  text-align:left;
  margin-top:60px;
}

input.form-control, input.form-control:focus, input.form-control:focus-visible {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $white;
  box-shadow: none;
}

label.string, label.password, label.email  {

  font-size: 18px;
  color: $white;
  opacity: 0.5;
}
